body {
	margin: 0px;
}

.grid {
	background-size: 20px 20px;
	background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
	min-height: 500px;
}

/*.opac {
	opacity: .7;
}*/
.move-cursor {
	cursor: move;
}
.grab-cursor {
	cursor: grab;
	cursor: -webkit-grab;
}

.building {
	overflow: hidden;
}
.building.w1 {
	width: 20px;
}
.building.h1 {
	height: 20px;
	line-height: 20px;
}
.building.w2 {
	width: 40px;
}
.building.h2 {
	height: 40px;
	line-height: 40px;
}
.building.w3 {
	width: 60px;
}
.building.h3 {
	height: 60px;
	line-height: 60px;
}
.building.w4 {
	width: 80px;
}
.building.h4 {
	height: 80px;
	line-height: 80px;
}
.building.w5 {
	width: 100px;
}
.building.h5 {
	height: 100px;
	line-height: 100px;
}

.text {
	margin-top: 0;
	color: #fff;
	text-align: center;
	font-size: 28px;
	letter-spacing: 1px;
}

.weapon {
	background-color: red;
}
.outpost {
	background-color: blue;
}
.wall {
	background-color: lightgray;
}
