.grid {
  position: relative;
  /* Control the height manually */
  /* In this case we limit it to two rows */
  height: 420px;
  /*max-width: 960px;
  margin: 0 -10px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;*/
}

.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  /*background: red;*/
  font-size: 10px;
  color: white;
  cursor: pointer;
}
.item.muuri-item-dragging .item-content {
  background: blue;
}
.item.muuri-item-releasing .item-content {
  background: blueViolet;
}

.item {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 10px;
  z-index: 1;
}
.item.h2 {
  height: 40px;
  line-height: 40px;
}
.item.w2 {
  width: 40px;
}
.item.h3 {
  height: 60px;
  line-height: 60px;
}
.item.w3 {
  width: 60px;
}
.item.h4 {
  height: 80px;
  line-height: 80px;
}
.item.w4 {
  width: 80px;
}
.item.h5 {
  height: 100px;
  line-height: 100px;
}
.item.w5 {
  width: 100px;
}




      .weapon {
        background-color: red;
      }
      .outpost {
        background-color: blue;
      }
      .wall {
        background-color: lightgray;
      }


  .grid {
        background-size: 20px 20px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
        /*background-image: linear-gradient(#e0e0e0 1px, transparent 1px), linear-gradient(90deg, #e0e0e0 1px, transparent 0px), linear-gradient(rgba(255,255,255,.3) 5px, transparent 100px), linear-gradient(90deg, rgba(255,255,255,.3) 5px, transparent 100px);
        background-size: 100px 62px, calc(8.33% + 0px) 100px, 20px 20px, 20px 20px;
        background-position: -2px -2px, -1px -2px, -1px -1px, -1px -1px;*/
      }
